#pinaise
{
    text-align: center;
    padding: 10px;
    background-color: dodgerblue;  
    color: whit; 
    margin:auto;  
}
body
{
   background-color: yellow;
   
}
#wrapper
{
   max-width: 1024px;
   margin: 0px auto;
   background-color: white;
}
figure
{     
   
   margin-right: auto;
   margin-left: auto;
      width: 700px;    
}
h1{
   color: yellow;
}
article
{ 
   width: 400px;   
   margin-left: 550px;   
   text-align: justify;   
}
ul
{
   margin-left: 400px;   
   color: white;
   list-style-type: none;
   background-color: dodgerblue;
}
aside p
{
   text-align: justify;
   margin-left: 800px;
   margin-right: 500px;      
}
figcaption
{
   text-align: center;
}
footer
{
   text-align: center;
   background-color: dodgerblue;
   color: white;
   padding: 10px;
}










