#pinaise
 {
    text-align: center;
    padding: 10px;
    background-color: dodgerblue;
    
    
    color: white
    
    
    
    
}
figure
{     
   
   margin-right: auto;
   margin-left: auto;
   
  width: 700px;
   
   
}
h1{
   color: yellow;
}
article
{ 
   width: 400px;   
   margin-left: 550px;   
   text-align: justify;
}
ul
{
   margin-left: 400px;

}











