*{
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}

#pinaise
{
    text-align: center;
    padding: 10px;
    background-color: dodgerblue;  
    color: white; 
     
}

body
{
   background-color: rgb(255, 213, 0);
   
}
#wrapper
{
   max-width: 1024px;
   margin: 0px auto;
   background-color: white;
}
header figure img
{     
   width: 100%;    
}
h1{
   color: rgb(255, 213, 0);

}

#middle{
   display: flex;
}
main
{
   display: flex;
   
}
article p
{ 
   width: 500px;  

   text-align: justify;   
}
ul
{
   margin-left: auto; 
   margin-right: auto;  
   list-style-type: none;
   background-color: dodgerblue;
}
ul a
{
   color: white;
   text-decoration: none;
}


aside figure img 
{
   width: 120px; 
}

aside{
   background-color: dodgerblue;
   margin-right: 3px; 
   margin-left: 3px;
   margin-block-start: 15px;
   margin-block-end: 15px;
   
   
}
aside p 
{
   text-align: justify;
   width: 140px;
   color: white;
}
figcaption
{
   text-align: center;
   color: white;
}
  
footer
{
   text-align: center;
   background-color: rgb(37, 140, 243);
   color: white;
   padding: 10px;
}










