*{
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}

#pinaise
{
    text-align: center;
    padding: 10px;
    background-color: dodgerblue;  
    color: white; 
     
}

body
{
   background-color: rgb(255, 213, 0);
   
}
#wrapper
{
   max-width: 1024px;
   margin: 0px auto;
   background-color: white;
}
header figure img
{     
   width: 100%;    
}
h1{
   color: rgb(255, 213, 0);
   margin-left: 5px;
}

#middle{
   display: flex;
}
main
{
   display: flex;
   
}
main article   
{
   margin-block-start: 40px;
}
main article p
{
   margin-block-start: 15px;
}
article p
{ 
   width: 775px;  

   text-align: justify; 
   margin-left: 5px;  
   margin-right: 5px;
}
ul
{
   margin-left: 5px; 
   list-style-type: none;
   background-color: dodgerblue;
   margin-block-start: 15px;
}
ul a
{
   color: white;
   text-decoration: none;
}


aside figure img 
{
   width: 120px; 
}

aside{
   background-color: dodgerblue;
  
   margin-block-start: 15px;
   margin-block-end: 15px;
   
   
   
   
}
aside figure
{
   margin-right: 3px;
}
aside p 
{
   text-align: justify;
   width: 140px;
   color: white;
}
figcaption
{
   text-align: center;
   color: white;
}
  
footer
{
   text-align: center;
   background-color: rgb(37, 140, 243);
   color: white;
   padding: 10px;
}










